@model Sandbox.Models.Bottle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bottle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BottleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volume)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.ParLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OnHand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnHand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
